extends layout

block content
  h1 #{userId} - Perspective
  ul
    each val in entries.length ? entries : ['User has no perspective']
      li
        p
          a(href=val.url) #{val.title}
          | Time spent #{val.time/60} min



